@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="about-img-container">
        <img id="about-img" src="~/Images/piron-guillaume.jpg" />
    </div>
</div>
<hr />
<div class="row">
    <h1>North Shore Health Network</h1>
    <p>
        After 2 years of hard work and rebranding, a historical collaboration was produced. On June 15, 2016, the Blind River District Health Centre (BRDHC) integrated with Thessalon and Richards Landing. Togehter, we are now the North Shore Health Network. This collaboration comes out of our dedication to public health, and to better serve the needs of our community. We are so excited
        to have this opportunity, and can not wait to share with you our new facilities and services.
    </p>
</div>

<hr />

<h2 class="about-title">Vision/Mission</h2>
<div class="row">
    <div class="col">
        <p class="about-vm">Vision</p>
        <p>North Shore Health Network will be recognized for excellence in the provision of rural health care and service delivery in an integrated model.</p>
        <p class="about-vm">Mission</p>
        <p>To work with our various partners in providing safe, high-quality, compassionate health care while building healthy communities.</p>
    </div>
</div>

<hr />
<h2 class="about-title">Values</h2>
<div class="row">
    <div class="col align-self-center">
        <p>The core values of the North Shore Health Network are rooted in the ones detailed below.</p>
        <img src="~/Images/Emerg.jpg" />
    </div>
    <div class="col">
        <ul>
            <li class="core-value">Respect<p>We respect your dignity, your privacy, your participation, and your person.</p></li>
            <li class="core-value">Open Communication<p>Open two-way communication will lead to better understanding, better results, and better patient care.</p></li>
            <li class="core-value">Quality<p>We value quality in the work we do, in the service we provide, and in the patient's experience.</p></li>
            <li class="core-value">Education<p>Education will support skilled health care workers, best health care practices, and informed patients.</p></li>
            <li class="core-value">Partnership<p>Partnership with the Ministry of Health and Long Term Care, the North East Local Health Integration Network (NE LHIN), fellow health service providers, and our communities to ensure appropriate health care is within reach.</p></li>
        </ul>
    </div>
</div>

